
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Jua&family=Noto+Serif+KR:wght@200;900&display=swap');

body {
    background-image: url('/02/img/nasa.jpg');
    background-repeat: no-repeat;
    background-color:cadetblue;
}

    #logotext {
        font-family: 'Dongle', sans-serif;
        color:#fff;
        font-size: 50px;
        width: 1200px;
        margin: 20px auto;
        top: 100px;
    }
    #text {
        font-family: 'Noto Serif KR', serif;
        color:whitesmoke;
        font-size: 25px;
        position: absolute;
        left: 850px;
        top: 400px;
       
    }
    

header{
    width:100%;    
    height:150px;  
    background-color:#393E46  
  }
nav{  
    float:right;   /* 오른쪽으로 플로팅 */
    width:900px;   /*   너비 */  
    height:0px;   /* 메뉴 영역 높이 */  
    padding-top:0px;  /* 메뉴를 아래로 내리기 위해 */  
    top: 100px;
  }
  #topMenu {  
    height:0px; 
    top: 100px;
  }
  #topMenu > li {
    float:right;  /* 메뉴 항목을 왼쪽으로 플로팅 */ 
    position: relative;  
    top: -100px;
  }
  #topMenu > li > a{
    display:block;  /* 링크 텍스트는 블록으로 */ 
    font-size:1.1em;
    color:#fff;  /* 글자 색 */
    font-weight:600;  /* 글자 굵기 */
    padding:20px 60px;  /* 패딩 */ 
  }
  #topMenu > li > a:hover {
    color:#1fa8f8;
    text-shadow:0 -2px #222;
  }
  
footer{   
    width:1200px;   /* 너비 */
    height:100px;  /* 높이 */
    border-top:2px solid #222;
  }
  #bottomMenu{
    width:100%;
    height:20px;
    margin-left:60px;
  }
  #bottomMenu ul {
    margin-top:0px;  
  }
  #bottomMenu ul li{
    float:right;  /* 가로로 배치 */ 
    padding:5px 20px;
    border-right:1px solid #ddd;   /* 항목 오른쪽에 테두리 */ 
  }
  #bottomMenu ul li:last-child{
    border:none;  /* 마지막 항목에는 오른쪽 테두리 없음 */  
  }
  #bottomMenu ul li a, #bottomMenu ul li a:visited {  
    font-size:20px;  /* 글자 크기 */ 
    color:rgb(196, 202, 237);   /* 글자 색 */ 
  } 